.about-wrap {
  width: 80%;
  margin: 0 auto;
  color: #242424;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.about h1 {
  font-size: 45px;
}

.about h1 span {
  color: #1dbf72;
}

.president {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-top: 30px;
}

.president img {
  width: 90px;
  border-radius: 50%;
  border: 2px solid #1dbf72;
}

.about p {
  text-align: justify;
}

.about .p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about .note {
  font-weight: 600;
  color: #3c3c3d;
}

.about-wrap .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-wrap .about-img img {
  width: 100%;
}

@media screen and (max-width: 840px) {
  .about-wrap {
    width: 100%;
    padding: 20px;
  }

  .about h1 {
    font-size: 25px;
  }

  .president {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-top: 30px;
  }

  .president img {
    width: 90px;
    border-radius: 50%;
    border: 2px solid #1dbf72;
  }

  .about p {
    text-align: justify;
  }

  .about .p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about .note {
    font-weight: 600;
    color: #3c3c3d;
  }

  .about-wrap .about-img {
    display: none;
  }

  .about-wrap .about-img img {
    width: 100%;
  }
}
