.home-wrap {
  padding: 0 5%;
  transition: 0.3s ease all;
  z-index: -10;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 10;
  margin-bottom: 50px;
}

.hero-section .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section .contents h1 {
  font-size: 55px;
  color: #1dbf72;
  position: relative;
  animation: slideInLeft 0.5s ease-out forwards; /* Define animation duration and timing function */
  opacity: 0; /* Start with opacity 0 to make it fade in while sliding */
}

.hero-section .contents h2 {
  color: #4a4d4e;
  font-size: 32px;
  animation: slideInLeft 1s ease-out forwards;
  /* animation: fadeIn 1.5s ease-in-out forwards; */
  opacity: 0;
}

.dark-theme .hero-section .contents h2 {
  color: #fff;
  transition: 0.3s ease all;
  /* z-index: -10; */
}

.hero-section .contents button {
  border: transparent;
  outline-color: transparent;
  cursor: pointer;
  width: 150px;
  margin-top: 20px;
  padding: 12px 0;
  border-radius: 6px;
  background: #1dbf72;
  color: #fff;
  font-weight: 600;
  animation: scaleAnimation 1s alternate;
  transition: 0.3s ease all;
}

.hero-section .contents button:hover {
  background: #137a48;
  /* transform: scale(1.05); */
}

.hero-section .contents button a {
  text-decoration: none;
  color: #fff;
}

.hero-section .img {
  display: flex;
  align-items: center;
  justify-content: right;
}

.hero-section .img img {
  width: 60%;
  transition: ease;
  animation: scaleAnimation 1.5s alternate;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Slide in to the normal position */
    opacity: 1;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 840px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }

  .hero-section .contents {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
  }

  .hero-section .contents h1 {
    font-size: 45px;
    color: #1dbf72;
  }

  .hero-section .contents h2 {
    color: #4a4d4e;
    font-size: 25px;
  }

  .hero-section .contents button {
    border: transparent;
    outline-color: transparent;
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
    padding: 12px 0;
    border-radius: 6px;
    background: #1dbf72;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease all;
  }

  .hero-section .img {
    order: 1;
    display: flex;
    align-items: start;
    justify-content: center;
  }
}
