@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  border-bottom: 2px solid #1dbf72;
}

nav .hj {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

nav .hj h2 a {
  text-decoration: none;
  color: #242424;
}

nav .hj h2 a span {
  color: #1dbf72;
}

nav .logo {
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease all;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #242424;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s ease all;
}

nav .main-menu li {
  position: relative;
  transition: 0.3s ease-in-out all;
}

nav .main-menu li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #1dbf72;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.3s ease-in-out all;
}

nav .main-menu li:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #1dbf72;
  position: absolute;
  bottom: -4px;
  left: 0;
}

nav ul li a:hover {
  color: #1dbf72;
}

nav .main-menu li a.active {
  color: #1dbf72;
  border-bottom: 2px solid #1dbf72;
  padding-bottom: 3px;
}

nav .buttons ul li {
  margin: 0 10px;
}

nav .buttons ul li.signup a {
  background: #1dbf72;
  color: #fff;
  padding: 5px 12px;
  border-radius: 15px;
}

nav .buttons ul li.signup a:hover {
  background: #137a48;
}

.open-close {
  display: none;
  cursor: pointer;
  transition: 0.3s ease all;
}

.open-close:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .open-close {
    display: block;
  }

  nav .mobile-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    gap: 20px;
    top: 87px;
    right: -999px;
    background: #fff;
    padding: 15px;
    transition: 0.3s ease-in all;
  }

  nav .hj {
    flex: 1;
  }

  nav .hj .logo {
    width: 40px;
  }

  nav .hj h2 {
    font-size: 19px;
  }

  nav ul li a {
    color: #242424;
  }

  nav .slide-in {
    right: 0;
  }

  nav .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
