@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  border-bottom: 2px solid #1dbf72;
  position: sticky;
  top: -0px;
  z-index: 999;
  @supports (backdrop-filter: blur(1rem)) {
    background: #ffffff07;
    backdrop-filter: blur(2rem);
  }
}

nav .hj {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

nav .hj h2 a {
  text-decoration: none;
  color: #242424;
}

nav .dark-hj h2 a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

nav .hj h2 a span {
  color: #1dbf72;
}

nav .logo {
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease all;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #242424;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s ease all;
}

nav.dark-theme ul li a {
  color: #fff;
}

nav li {
  position: relative;
  transition: 0.3s ease-in-out all;
}

nav li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #1dbf72;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.3s ease-in-out all;
}

nav li:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #1dbf72;
  position: absolute;
  bottom: -4px;
  left: 0;
}

nav li.signup-btn:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  display: none;
  background: transparent;
  position: absolute;
  bottom: -4px;
  left: 0;
}

nav ul li a:hover {
  color: #1dbf72;
}

nav li a.active {
  color: #1dbf72;
  border-bottom: 2px solid #1dbf72;
  padding-bottom: 3px;
}

nav .buttons ul {
  display: flex;
  align-items: center;
}

nav .buttons ul li {
  margin: 0 10px;
  cursor: pointer;
}

nav .buttons ul li:hover {
  color: #1dbf72;
}

nav .buttons ul li.signup-btn a {
  background: #1dbf72;
  color: #fff;
  padding: 5px 12px;
  border-radius: 15px;
}

nav .buttons ul li.signup-btn a:hover {
  background: #137a48;
  border: none;
}

.open-close {
  display: none;
  cursor: pointer;
  transition: 0.3s ease all;
}

.open-close:hover {
  transform: scale(1.2);
}

nav .buttons ul li.user-dp img {
  width: 48px;
  border-radius: 50%;
  border: 2px solid #1dbf72;
  transition: 0.3s ease all;
}

nav .buttons ul li.user-dp:hover {
  &::after {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  nav {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    border-bottom: 2px solid #1dbf72;
    position: static;
    @supports (backdrop-filter: blur(1rem)) {
      background: #fff;
      backdrop-filter: blur(1rem);
    }
  }

  /* nav {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    border-bottom: 2px solid #1dbf72;
    position: sticky;
    top: -0px;
    z-index: 99;
    @supports (backdrop-filter: blur(1rem)) {
      background: #ffffff07;
      backdrop-filter: blur(0.7rem);
    }
  }
 */
  .open-close {
    display: block;
  }

  nav .mobile-ul {
    width: 50% !important;
    min-height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    gap: 20px;
    top: 87px;
    right: -999px;
    background: #3c3c3d;
    color: #fff;
    opacity: 1;
    padding: 15px;
    transition: 0.3s ease-in all;
    z-index: 999 !important;
  }

  nav .hj {
    flex: 1;
  }

  nav .hj .logo {
    width: 40px;
  }

  nav .hj h2 {
    font-size: 19px;
  }

  nav ul li a {
    color: #fff;
    /* z-index: 1000; */
  }

  nav .slide-in {
    right: 0;
  }

  nav .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
